[submodule "haspot"]
	path = haspot
	url = https://github.com/MnO2/haspot.git
[submodule "www.haskell.mn"]
	path = www.haskell.mn
	url = https://github.com/HaskellMN/www.haskell.mn.git
[submodule "CleanMagic-hakyll"]
	path = CleanMagic-hakyll
	url = https://github.com/katychuang/CleanMagic-hakyll.git
[submodule "theProfessional-hakyll"]
	path = theProfessional-hakyll
	url = https://github.com/katychuang/theProfessional-hakyll.git
[submodule "materialize-hakyll"]
	path = materialize-hakyll
	url = https://github.com/futtetennismo/materialize-hakyll.git
[submodule "wp-twentyseventeen"]
	path = wp-twentyseventeen
	url = https://github.com/katychuang/wp-twentyseventeen.git
